%head
  %link{href: "stylesheets/registration_new.scss", rel: "stylesheet"}/
.body
  .body__header
    .body__header__box
      .body__header__box__logo
        = image_tag 'merukarilogo.svg',class: "body__header__box__logo"

      .body__header__box__sign-up-bar
        %ul.body__header__box__sign-up-bar__ul
          %l1.body__header__box__sign-up-bar__ul__l1
            会員情報 
            .body__header__box__sign-up-bar__ul__l1__progress-status1     
          %l2.body__header__box__sign-up-bar__ul__l2
            電話番号認証
            .body__header__box__sign-up-bar__ul__l2__progress-status2
          %l3.body__header__box__sign-up-bar__ul__l3
            完了
            .body__header__box__sign-up-bar__ul__l3__progress-status3
  
  .body__main
    .body__main__member-registration
      %h2 会員情報登録
    .body__main__input-class
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .body__main__input-class__form__content__field
          = f.label :"ニックネーム"
          %span.body__main__input-class__form__content__field__subtitle 必須
          %br/
          = f.text_field :nickname, class: "body__main__input-class__form__content__field__text-box",autofocus: true, autocomplete: "email",placeholder: "例）テックタロウ"
        .body__main__input-class__form__content__field
          = f.label :"メールアドレス"
          %span.body__main__input-class__form__content__field__subtitle 必須
          %br/
          = f.email_field :email, class: "body__main__input-class__form__content__field__text-box",autofocus: true, autocomplete: "email",placeholder: "例）XXX@gmail.com"
        .body__main__input-class__form__content__field
          = f.label :password
          - if @minimum_password_length
            %em
            (#{@minimum_password_length} characters minimum)
            %span.body__main__input-class__form__content__field__subtitle 必須
            %br/
          -# = f.password_field :password, autocomplete: "new-password"
          = f.password_field :password, class: "body__main__input-class__form__content__field__text-box",autocomplete: "new-password",placeholder: "pasword"
        .body__main__input-class__form__content__field
          = f.label :password_confirmation
          %span.body__main__input-class__form__content__field__subtitle 必須
          %br/
          -# = f.password_field :password_confirmation, autocomplete: "new-password"
          -# .actions
          -# = f.submit "Sign up"
          -# = render "devise/shared/links"
          = f.password_field :password_confirmation, class: "body__main__input-class__form__content__field__text-box",autocomplete: "new-password",placeholder: "password（確認用）"
        .body__main__input-class__form__content__field__gray-text 
          %br
          %p※ 英字と数字の両方を含めて設定してください
          %br
        .body__main__input-class__form__content__field__check-box
          %input#password-checkbox{ type: 'checkbox' } 
          %label{ for: 'password-checkbox' } パスワードを表示する 
        .body__main__input-class__form__content__field__subhead
          %h2 本人確認
          %P.body__main__input-class__form__content__subhead--single-text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        
        .body__main__input-class__form__content__field__box
          .body__main__input-class__form__content__field__box__name
            = f.label :"お名前(全角)"
            %span.body__main__input-class__form__content__field__subtitle 必須
            %br/
            = f.text_field :first_name, class: "body__main__input-class__form__content__field__box__text-box",autofocus: true, autocomplete: "email",placeholder: "例）山田"
          .body__main__input-class__form__content__field__box__lastname
            -# = f.label :"名前"
            -# %span.body__main__input-class__form__content__field__subtitle 必須
            %br/
            = f.text_field :last_name, class: "body__main__input-class__form__content__field__box__text-box",autofocus: true, autocomplete: "email",placeholder: "例）太郎"
        .body__main__input-class__form__content__field__box
          .body__main__input-class__form__content__name__kana
            = f.label :"お名前カナ(全角)"
            %span.body__main__input-class__form__content__field__subtitle 必須
            %br/
            = f.text_field :first_name, class: "body__main__input-class__form__content__field__box__text-box",autofocus: true, autocomplete: "email",placeholder: "例）ヤマダ"
          .body__main__input-class__form__content__last-name__kana
            -# = f.label :"メイ"
            -# %span.body__main__input-class__form__content__field__subtitle 必須
            %br/
            = f.text_field :first_name, class: "body__main__input-class__form__content__field__box__text-box",autofocus: true, autocomplete: "email",placeholder: "例）タロウ"
        .body__main__input-class__form__content__field__birthday
          = f.label :"生年月日"
          %span.body__main__input-class__form__content__field__subtitle 必須
          %br/
          != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'body__main__input-class__form__content__field__birthday--text-box', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日' 
              
        .body__main__input-class__form__content__field__text
          %br/
          %P.body__main__input-class__form__content__field__text--single-text1 ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          %br/
          %br/
        .body__main__input-class__form__content__field__text--single-text2 
          「次へ進む」のボタンを押すことにより、
          %a{ href: '#URL' ,class: "body__main__input-class__form__content__field__text--single-text2--a"}利用規約
          に同意したものとみなします。
        .body__main__input-class__form__content__field__actions
          %a.button{href: "#",class: "body__main__input-class__form__content__field__actions--text"} 次へ進む
        .body__main__input-class__form__content__field__bottom-text
          %a{ href: '#URL' ,class: "body__main__input-class__form__content__field__bottom-text--a"}本人情報の登録について＞
        .body__main__input-class__form__content__field__bottom-box
          This site is protected by reCAPTCHA and the Google Privacy Policy   
          %a{ href: '#URL' ,class: "body__main__input-class__form__content__field__bottom-box--a"} Privacy Policy 
          and
          %a{ href: '#URL' ,class: "body__main__input-class__form__content__field__bottom-box--a"} Terms of Service
    .footer