.tops-index
  = render 'layouts/header'
  = render 'layouts/primarybanner'
  .tops-index-contents
    .tops-index-content
      .tops-index-content-intoroduction
        %h2.tops-index-content-intoroduction__subtitle FURIMAが選ばれる3つの理由
        %ul.tops-index-content-intoroduction-lists
          %li.tops-index-content-intoroduction-list
            .tops-index-content-intoroduction-list__pict
              %span.tops-index-content-intoroduction-list__number 1
              = image_tag "pict-reason-01.jpg", class: "banner__main-image"
            %h3.tops-index-content-intoroduction-list__text
              %span.tops-index-span 3分
              ですぐに出品
            %p.tops-index-content-intoroduction-list__description
              スマホで入力するだけで簡単に出品できる！
          %li.tops-index-content-intoroduction-list
            .tops-index-content-intoroduction-list__pict
              %span.tops-index-content-intoroduction-list__number 2
              = image_tag "pict-reason-02.jpg", class: "banner__main-image"
            %h3.tops-index-content-intoroduction-list__text
              %span シンプル
              で使いやすい
            %p.tops-index-content-intoroduction-list__description
              めんどくさい入力は必要なく、検索も購入もスムーズ！
          %li.tops-index-content-intoroduction-list-last
            .tops-index-content-intoroduction-list__pict
              %span.tops-index-content-intoroduction-list__number 3
              = image_tag "pict-reason-03.jpg", class: "banner__main-image"
            %h3.tops-index-content-intoroduction-list__text
              手数料
              %span.tops-index-span 業界最安
            %p.tops-index-content-intoroduction-list__description
              最大3%でお得に出品&amp;購入！
    = render 'layouts/secondrybanner'
    .tops-index-content-futures
      .tops-index-content-future
        %h2.tops-index-content-future__subtitle FURIMAの特徴
        .tops-index-content-future-lists
          .tops-index-content-future-list
            .tops-index-content-future-list__pict
              = image_tag 'icon-01.png'
            %h3.tops-index-content-future-list__text
              簡単に売り買いできる
            %p.tops-index-content-future-list__description
              スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
          .tops-index-content-future-list
            .tops-index-content-future-list__pict
              = image_tag "icon-03.png"
            %h3.tops-index-content-future-list__text
              売上金は即日振込みに対応
            %p.tops-index-content-future-list__description
              午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
          .tops-index-content-future-list
            .tops-index-content-future-list__pict
              = image_tag "icon-04.png"
            %h3.tops-index-content-future-list__text
              様々な支払いに対応
            %p.tops-index-content-future-list__description
              お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    .tops-index-content-picups
      .tops-index-content-picup
        %h2.tops-index-content-picup__subtitle ピックアップカテゴリー
        .tops-index-content-picup-box
          .tops-index-content-picup-head
            = link_to "#" do
              %h3.tops-index-content-picup-head__text 新規投稿商品
          .tops-index-content-picup-lists
            - @items.each do |item|
              .tops-index-content-picup-list
                = link_to item_path(item.id) do
                  %figuer.tops-index-content-picup-list__img
                    = image_tag item.item_images.first.image.url 
                  .tops-index-content-picup-list-body
                    %h3.tops-index-content-picup-list-body__name 
                      = item.title
                    .tops-index-content-picup-list-body__details  
                      %ul
                        %li
                          = item.price
                      %p (税込)
    .tops-index-content-picups
      .tops-index-content-picup
        %h2.tops-index-content-picup__subtitle ピックアップブランド
        .tops-index-content-picup-box
          .tops-index-content-picup-head
            = link_to "#" do
              %h3.tops-index-content-picup-head__text
                = @brands[0][:name]
          .tops-index-content-picup-lists
            - @items_brands.each do |item|
              .tops-index-content-picup-list
                = link_to item_path(item.id) do
                  %figuer.tops-index-content-picup-list__img
                    = image_tag item.item_images.first.image.url 
                  .tops-index-content-picup-list-body
                    %h3.tops-index-content-picup-list-body__name 
                      = item.title
                    .tops-index-content-picup-list-body__details  
                      %ul
                        %li
                          = item.price
                      %p (税込)
  = render 'layouts/tertiarybanner'
  = render 'layouts/footer'
  = render 'layouts/purchase-btn'
