.sign-up
  %header.sign-up__header
    = render "devise/header-image"
  %main.sign-up__main
    %section.sign-up-container
      .sign-up-container__head
        %h2.sign-up-container__head--text 新規会員登録
      .sign-up-container__contents
        %content.sign-up-content
          %a.sign-up-content__btn--email{href:"#{new_user_registration_path}"}
            %i.sign-up-content__icon
              = icon('far', 'envelope')
            %span.sign-up-content__text
              メールアドレスで登録する
          %a.sign-up-content__btn--facebook{href:"#"}
            %i.sign-up-content__icon
              = icon('fab', 'facebook-square')
            %span.sign-up-content__text
              Facebookで登録する
          %a.sign-up-content__btn--google{href:"#"}
            %i.sign-up-content__icon--google
              = icon('fab', 'google')
            %span.sign-up-content__text--google
              googleで登録する
  %footer.sign-up__footer
    = render "devise/navigation"