.sessions-new
  %header.sessions-new__header
    = render "devise/header-image"
  %main.sessions-new__main
    %section.sessions-new-container
      .sessions-new-container__head
        %p.sessions-new-container__head--text アカウントをお持ちでない方はこちら
        %a.sessions-new-container__head--btn{href:"#{sign_ups_path}"}
          %span.sessions-new-content__text
            新規会員登録
      .sessions-new-container__contents
        %content.sessions-new-content
          %a.sessions-new-content__btn--facebook{href:"#"}
            %i.sessions-new-content__icon
              = icon('fab', 'facebook-square')
            %span.sessions-new-content__text
              Facebookで登録する
          %a.sessions-new-content__btn--google{href:"#"}
            %i.sessions-new-content__icon--google
              = icon('fab', 'google')
            %span.sessions-new-content__text--google
              googleで登録する
          .sessions-new-content__field
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              = f.email_field :email,placeholder: "メールアドレス", autocomplete: "email",class:"log-in-content__field--password"
              = f.password_field :password,placeholder: "パスワード", autocomplete: "current-password",class:"log-in-content__field--password"
              .sessions-new-recaptcha
                %p.sessions-new-recaptcha__image 私はロボットではありません
              = f.submit "ログイン",class:"log-in-content__btn--log-in"
          .sessions-new-content__password-forgotten
            = render "devise/shared/links"
  %footer.sessions-new__footer
    = render "devise/navigation"
