.items-new
  .items-new-header
    .items-new-header__icon
      = link_to root_path do
        = image_tag 'logo.png'

  .registrations-new-main
    .regstrations-new-main--form
      = form_with(model: [current_user, @item], locale: true , id: 'new_item') do |f|
        .item-image-container
          = f.label :"出品画像"
          %span.common-field__tag 必須
          %p.item-image-container__lead
            最大5枚までアップロードできます
          .item-image-container__unit
            %ul
              
            .item-image-container__unit--guide
              .have-image
                = icon('fas','camera')
                %p#d-d-delete ドラッグ&ドロップ
                %p#click-delete またはクリックしてファイルをアップロード
        %hr.items-new-hr
        .items-new-first
          .items-new-first__head
            = f.label :"商品名"
            %span.common-field__tag 必須
            %br/
            = f.text_field :title, class: "common-field.common-field__body",autofocus: true,placeholder: "40文字まで"          
          .items-new-first__foot
            = f.label :"商品の説明"
            %span.common-field__tag 必須
            %br/
            = f.text_area :description, class: "common-field.common-field__body", autofocus: true,placeholder: text_placeholder 
        %hr.items-new-hr
        .items-new-second
          %p.items-new-second__detail
            商品の詳細
          .items-new-second__head
            = f.label :"カテゴリー"
            %span.common-field__tag 必須
            %br/
            = f.collection_select :category_id, Category.all, :id, :name, class: "common-field.common-field__body",autofocus: true
          .items-new-second__center
            = f.label :"ブランド"
            %span.common-field__tag--any 任意
            %br/
            = f.text_field :brand_id , class: "common-field.common-field__body",autofocus: true,placeholder: "例）シャネル"
          .items-new-second__foot
            = f.label :"商品の状態"
            %span.common-field__tag 必須
            %br/
            = f.select :condition_num, Item.condition_nums.keys.map {|k| [I18n.t("enums.item.condition_num.#{k}"), k]}
        %hr.items-new-hr
        .items-new-third
          %p.items-new-third__detail
            配送について
          .items-new-third__head
            = f.label :"配送料の負担"
            %span.common-field__tag 必須
            %br/
            = f.select :shippingcharge_num, Item.shippingcharge_nums.keys.map {|k| [I18n.t("enums.item.shippingcharge_num.#{k}"), k]}
          .items-new-third__center
            = f.label :"発送方法"
            %span.common-field__tag 必須
            %br/
            = f.collection_select :shippingway_id, Shippingway.all, :id, :name, class: "common-field.common-field__body",autofocus: true,placeholder: "例）テックタロウ"
          .items-new-third__foot
            = f.label :"発送までの日数"
            %span.common-field__tag 必須
            %br/
            = f.select :daystoship_num, Item.daystoship_nums.keys.map {|k| [I18n.t("enums.item.daystoship_num.#{k}"), k]}
        %hr.items-new-hr
        .items-new-final
          %p.items-new-final__detail
            価格 (¥200~9,999,999)
          .items-new-final__head
            = f.label :"販売価格"
            %span.common-field__tag 必須
            %br/
            = f.text_field :price, data: { autonumeric: { aSign: '¥ ', mDec: 0 } } ,class: "common-field.common-field__body",autofocus: true, placeholder: "金額を入力して下さい"
          .items-new-final__commission
            .items-new-final__commission--factor
              %div
                販売手数料(10%)

          .common-field
            .common-field__button
              = f.button "出品する",value: "次へ進む",class:"common-field.common-field__button" 

        .common-field
          %P.common-field__consent
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .items-new-footer
    %ul.items-new-footer__contents
      %li.items-new-footer__contents--list
        = link_to "プライバシーポリシー" , "#"
      %li.items-new-footer__contents--list
        = link_to "FURIMA利用規約" , "#"
      %li.items-new-footer__contents--list
        = link_to "ポイントに関する特約" , "#"
    .items-new-footer__icon
      = link_to root_path do
        = image_tag 'logo-white.png'

    %p ©️FURIMA
%script{src: "/assets/item-image-container.js", type: "text/javascript"}