.items-new
  .items-new-header
    .items-new-header__icon
      = link_to root_path do
        = image_tag 'logo.png'

  .registrations-new-main
    .regstrations-new-main--form
      = form_with(model: [current_user, @item], locale: true ) do |f|
        .item-image-container
          = f.label :"出典画像"
          %span.item-image-container__tag 必須
          %br/
          .item-image-container__preview
            %ul
          .item-image-container__guide
            .have-image__0
              = icon('fas','camera')
              %h5 ドラッグ&ドロップ
              %br でファイルをアップロード

        .common-field
          = f.label :"商品名"
          %span.common-field__tag 必須
          %br/
          = f.text_field :name, class: "common-field.common-field__body",autofocus: true,placeholder: "40文字まで"          
        .common-field
          = f.label :"商品の説明"
          %span.common-field__tag 必須
          %br/
          = f.text_field :text, class: "common-field.common-field__body",autofocus: true,placeholder: "商品の説明(必須1000文字以内"
        .common-field__birthday
          = f.label :"カテゴリー"
          %span.common-field__tag 必須
          %br/
          = f.collection_select :category_id, Category.all, :id, :category_name
        .common-field
          = f.label :"ブランド"
          %span.common-field__tag 必須
          %br/
          = f.text_field :nickname, class: "common-field.common-field__body",autofocus: true,placeholder: "例）テックタロウ"
        .common-field
          = f.label :"商品の状態"
          %span.common-field__tag 必須
          %br/
          = f.text_field :nickname, class: "common-field.common-field__body",autofocus: true,placeholder: "例）テックタロウ"
        .common-field
          = f.label :"配送料の負担"
          %span.common-field__tag 必須
          %br/
          = f.text_field :nickname, class: "common-field.common-field__body",autofocus: true,placeholder: "例）テックタロウ"
        .common-field
          = f.label :"発送元の地域"
          %span.common-field__tag 必須
          %br/
          = f.text_field :nickname, class: "common-field.common-field__body",autofocus: true,placeholder: "例）テックタロウ"
        .common-field
          = f.label :"発送までの日数"
          %span.common-field__tag 必須
          %br/
          = f.text_field :nickname, class: "common-field.common-field__body",autofocus: true,placeholder: "例）テックタロウ"
        .common-field
          = f.label :"販売価格"
          %span.common-field__tag 必須
          %br/
          = f.text_field :nickname, class: "common-field.common-field__body",autofocus: true,placeholder: "例）テックタロウ"

        .common-field
          .common-field__botton
            = f.button "送信",onclick: "submit();",value: "次へ進む",class:"common-field.common-field__botton" 

        .common-field
          %P.common-field__consent
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .items-new-footer
    %ul.items-new-footer__contents
      %li.items-new-footer__contents--list
        = link_to "プライバシーポリシー" , "#"
      %li.items-new-footer__contents--list
        = link_to "FURIMA利用規約" , "#"
      %li.items-new-footer__contents--list
        = link_to "ポイントに関する特約" , "#"
    .items-new-footer__icon
      = link_to root_path do
        = image_tag 'logo-white.png'

    %p ©️FURIMA