%nav.navigation
  .navigation__inner
    %ul.navigation__ul
      %li.navigation__li
        = link_to "プライバシーポリシー","#",class:"navigation__li--link"
      %li.navigation__li
        = link_to "フリマ利用規約","#",class:"navigation__li--link"
      %li.navigation__li
        = link_to "特定商取引に関する表記","#",class:"navigation__li--link"
  .navigation__logo
    = link_to root_path do
      = image_tag "logo2.png",size:"66x75",class:"navigation__logo--image"