.trades-new
  %header.trades-header
    .trades-header__icon
      = link_to root_path do
        = image_tag 'logo.png'
  %main.trades-new-buy-main
    .trades-new-buy-item-container
      %h2.trades-new-buy-head 購入内容の確認
      .trades-new-buy-content
        .trades-new-buy-content-inner
          .trades-new-buy-item-box
            %h3.trades-new-buy-item__image
              = image_tag @item.item_images.first.image.url, class:'trades-image'
              .trades-new-buy-item__detail
                .trades-item__name 
                  = @item.title
                .trades-new-buy-item__price-ja
                  %span
                    = thousands_separator(@item.price)
                  %span.trades-new-buy-item__shipping-fee （税込）送料込み
      .trades-new-buy-content
        .trades-new-buy-content-inner
          -# 購入機能を実装させるために、まずはform_tagにて実装をする。 今後はform_withへ移行する。
          = form_tag(action: :create, method: :post) do
            %ul.trades-new-buy-price-table
              %li.trades-new-buy-price-table__row
                .trades-new-buy-price-table__cell--label 支払い金額
                .trades-new-buy-price-table__cell
                  %span
                    = thousands_separator(@item.price)
            .trades-new-buy-content
              .trades-new-buy-content-inner
                %h3 支払い方法
                - if @default_card_information.nil?
                  = link_to  new_user_creditcard_path(current_user.id), class: "trades-new-buy-user-info-fix" do
                    %p.trades-new-buy-user-info-text__cardinfo
                      .trades-new-icon-plus-circle
                        = icon('fas', 'plus-circle')
                        %span.trades-new-buy-register-text--new
                          登録してください
                - else
                  = link_to "#", class: "trades-new-buy-user-info-fix" do
                    %span.trades-new-buy-register-text--edit
                      変更する
                  %p.trades-new-buy-user-info-text__cardinfo
                    .creditcards-show-confirmation__contents
                      .creditcards-show-confirmation__card-number
                        .creditcards-show-confirmation__card-number--text カード番号
                        .creditcards-show-confirmation__card-number--number
                          = "**** **** **** " + @default_card_information.last4
                      .creditcards-show-confirmation__expire
                        .creditcards-show-confirmation__expire--text 有効期限
                        .creditcards-show-confirmation__expire--date
                          - exp_month = @default_card_information.exp_month.to_s
                          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                          = exp_month + " 月 / " + exp_year + " 年"
            .trades-new-buy-content
              .trades-new-buy-content-inner
                %h3 配送先
                - if @address.nil?
                  = link_to "#", class: "trades-new-buy-user-info-fix" do
                    %p.trades-new-buy-user-info-text
                      .trades-new-icon-plus-circle
                        = icon('fas', 'plus-circle')
                        %span.trades-new-buy-register-text 登録してください
                - else
                  = link_to "#", class: "trades-new-buy-user-info-fix" do
                    %span.trades-new-buy-register-text--edit
                      変更する
                  %p.trades-new-buy-user-info-text__addressinfo
                    = @address.postal_number 
                    %br/
                    = @address.city 
                    %br/
                    = @address.number 
                    %br/
                    = @address.building 
            .trades-new-buy-content
              = button_tag "購入する"
  %footer.trades-new-footer