.appbanner
  = image_tag 'bg-appBanner-pict.jpg', class: "appbanner__image"
  .appbanner__inner
    .appbanner__content
      .appbanner__content--title
        %h2 だれでもかんたん、人生を変えるフリマアプリ
      .appbanner__content--content
        %p 今すぐ無料ダウンロード！
      .appbanner__content--icon
        = link_to '#' do
          = image_tag "app-store.svg", class: "appBtn"
        = link_to '#' do
          = image_tag "google-play.svg", class: "googleBtn"
