%footer.ecFooter
  .footer
    %ul.footer__contents
      %li.footer__content
        %h2.footer__content--head
          FURIMAについて
        %ul
          %li.footer__content--list
            = link_to "会社概要(運営会社)" , "#"
          %li.footer__content--list
            = link_to "プライバシーポリシー" , "#"
          %li.footer__content--list
            = link_to "FURIMA利用規約" , "#"
          %li.footer__content--list
            = link_to "ポイントに関する特約" , "#"

      %li.footer__content
        %h2.footer__content--head
          FURIMAをみる
        %ul
          %li.footer__content--list
            = link_to "ブランド一覧" , "#"
          %li.footer__content--list
            = link_to "カテゴリ一覧" , "#"

      %li.footer__content
        %h2.footer__content--head
          ヘルプ＆ガイド
        %ul
          %li.footer__content--list
            = link_to "FURIMAガイド" , "#"
          %li.footer__content--list
            = link_to "FURIMAロゴ利用ガイドライン" , "#"
          %li.footer__content--list
            = link_to "お知らせ" , "#"

    .footer__logo
      = link_to root_path do
        = image_tag 'logo-white.png'
  
    %p ©️FURIMA