.primarybanner
  = image_tag 'bg-mainVisual-pict_pc.jpg', class: "primarybanner__image"
  .primarybanner__inner
    .primarybanner__content
      .primarybanner__content--title
        %h2 だれでもかんたん、人生を変えるフリマアプリ
      .primarybanner__content--content
        %p 今すぐ無料ダウンロード！
      .primarybanner__content--icon
        = link_to '#' do
          = image_tag "app-store.svg", class: "appBtn"
        = link_to '#' do
          = image_tag "google-play.svg", class: "googleBtn"
