.tops-index-content-picups
  .tops-index-content-picup
    %h2.tops-index-content-picup__subtitle 
      = subtitle1
    .tops-index-content-picup-box
      .tops-index-content-picup-head
        = link_to "#" do
          %h3.tops-index-content-picup-head__text
            = subtitle2
      .tops-index-content-picup-lists
        .tops-index-content-picup-list
          = link_to "/users/1/items/1/trades/new" do
            %figuer.tops-index-content-picup-list__img
              = image_tag "product1_001.png"
            .tops-index-content-picup-list-body
              %h3.tops-index-content-picup-list-body__name Product1
              .tops-index-content-picup-list-body__details  
                %ul
                  %li 30000円
                %p (税込)
        .tops-index-content-picup-list
          = link_to "#" do
            %figuer.tops-index-content-picup-list__img
              = image_tag "product2_001.png"
            .tops-index-content-picup-list-body
              %h3.tops-index-content-picup-list-body__name Product2
              .tops-index-content-picup-list-body__details  
                %ul
                  %li 20000円
                %p (税込)
        .tops-index-content-picup-list
          = link_to "#" do
            %figuer.tops-index-content-picup-list__img
              = image_tag "product3_001.png"
            .tops-index-content-picup-list-body
              %h3.tops-index-content-picup-list-body__name Product3
              .tops-index-content-picup-list-body__details  
                %ul
                  %li 10000円
                %p (税込)
