%nav.user-show-nav
  %ul.user-show-nav__now
    %li.user-show-nav__btn
      = link_to "#",class:"user-show-nav__btn--text" do
        マイページ
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        お知らせ
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        やることリスト
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        いいね!一覧
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        出品する
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        出品した商品-出品中
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        出品した商品-取引中
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        出品した商品-売却済
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        購入した商品-取引中
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        購入した商品-過去の取引
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        ニュース一覧
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        評価一覧
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        ガイド
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to  "#", class:"user-show-nav__btn--text" do
        お問い合わせ
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
  %h3.user-show-nav__title
    メルペイ
  %ul.user-show-nav__pay
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        売上・振り込み申請
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        ポイント
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
  %h3.user-show-nav__title
    設定
  %ul.user-show-nav__setting
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        プロフィール
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        発送元・お届け住所
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to new_user_creditcard_path(current_user.id) , class:"user-show-nav__btn--text" do
        支払い方法
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        メール/パスワード
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        本人情報
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "#", class:"user-show-nav__btn--text" do
        電話番号の確認
        %i.user-show-nav__btn--icon
          = icon('fa', 'chevron-right')
    %li.user-show-nav__btn
      = link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしてもよろしいですか？' },class:"user-show-nav__btn--logout"
